<head>
    <meta charset="utf-8">
    <!-- Site details -->
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <meta name="author" content="{{ .Site.Params.AuthorName }}">
    <!-- Favicon details -->
    <link rel="shortcut icon" href="/images/site-logo.png" type="image/x-icon" />
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <!-- IndieWeb identity -->
    {{ with .Site.Params.IndieWeb.EmailAddress }}<link rel="me" href="mailto:{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.GitHubUser }}<link rel="me" href="https://github.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.TwitterUser }}<link rel="me" href="https://twitter.com/{{ . }}">{{ end }}
    {{ with .Site.Params.IndieWeb.MicroBlogUser }}<link rel="me" href="https://micro.blog/{{ . }}">{{ end }}
    <!-- IndieAuth endpoint -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <!-- Other stuff to make the site work -->
    <link rel="stylesheet" href={{ "css/fonts.css" | absURL }} />
    <link rel="stylesheet" href={{ "css/style.css" | absURL }} />
    {{ if (fileExists "static/css/custom.css") -}}
    <link rel="stylesheet" href={{ "css/custom.css" | absURL }} />
    {{- end }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
